.headerContainer {
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #f39f5a;
    -webkit-box-shadow: 0px 3px 23px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 23px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 23px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    h2 {
        a {
            color: #FF9920;
        }
    }

    div {
        display: flex;
            align-items: center;
        
            .basketBtn {
        
        
                a {
                    display: flex;
        
                    sup {
                        font-size: large;
                        border: 1px solid gray;
                        border-radius: 50%;
                        padding: 2px 5px;
                        color: black;
                        background-color: white;
        
                    }
                }
            }
        button {
            color: white;
                height: 40px;
            cursor: pointer;
            background-color: #ae445a;
            padding: 10px;
            margin: 0 10px;
            border-radius: 10px;
            border: none;
            outline: none;


            a {
                color: white;
            }

            &:hover {
                background-color: #FF9920;

            }
        }
    }

}
@media (max-width:530px) {

    .headerContainer {

        h2 {
            a {
                font-weight: 600;
            }
        }

        div {

            span {
                display: none;
            }

            button {
                padding: 5px 10px;
                margin: 0px 3px 0px 0px;
            }
        }

    }
}