.singInContainer {
    width: 30%;
    height: 50vh;
    margin: 10vh auto;
    padding: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7vh;
    background: -webkit-linear-gradient(90deg, #0061fe, #be38f3);
    background: linear-gradient(90deg, #0061fe, #be38f3);

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;

    div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        input {
            width: 100%;
            padding: 1vh;
            border: none;
            outline: 1px solid gray;
            border-radius: 10px;

            &:focus {

                outline: 2px solid rgb(0, 0, 0);
            }
        }



    }

    button {
        cursor: pointer;
        border: none;
        padding: 2vh 4vh;
        border-radius: 20px;
        font-size: large;
        font-weight: bold;

        &:hover {

            color: white;
            background: -webkit-linear-gradient(90deg, #e45c01, #f78502, #f79b45);
            background: linear-gradient(90deg, #e45c01, #f78502, #f79b45);
        }
    }
}
@media (max-width:1000px) {

    .singInContainer {
        width: 50%;

        div {}
    }
}


@media (max-width:800px) {

    .singInContainer {
        width: 70%;

        div {}
    }
}

@media (max-width:600px) {

    .singInContainer {
        width: 85%;

        div {}
    }
}

@media (max-width:380px) {

    .singInContainer {
        width: 95%;

        div {}
    }
}