.detailContainer {
    width: 90%;
    margin: 30px auto 0 auto;

    .detailInfo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 40px 0px;

        img {
            width: 25%;
            height: 300px;
            margin: 0px;
            margin-right: 30px;
        }

        .detailBox {
            width: 50%;
            margin: 30px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;





            button {
                width: 50%;
                font-size: large;
                font-weight: 600;
                margin-top: 10px;
                cursor: pointer;
                border: none;
                outline: 2px solid #e01b24;
                border-radius: 20px;
                padding: 10px;

                &:hover {
                    outline: none;
                    background: -webkit-linear-gradient(90deg, #fde577, #e01b24);
                    background: linear-gradient(90deg, #fde577, #e01b24);
                }
            }


        }
    }

}


@media(max-width:700px) {
    .detailContainer {
        width: 95%;
        margin: 40px auto;


        .detailInfo {
            width: 100%;

            img {
                width: 50%;
                margin: 0 auto;
            }

            .detailBox {
                border: 1px solid gray;
                padding: 10px;
                border-radius: 20px;
                width: 100%;
            }
        }
    }
}