.navbarContainer {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: large;

    a {
            transition: all 0.2s;
    
            &:hover {
                color: orangered;
                border-bottom: 2px solid orangered;
            }
        }
    
}
@media (max-width: 1000px) {
    .navbarContainer {
        div {
            border-right: 2px solid gray;
            padding: 0 10px;
            height: 5vh;


            &:last-child {
                border-right: none;
            }
        }
    }
}

@media (max-width: 940px) {

    .navbarContainer {
        width: 50%;
        height: 8vh;
        justify-content: flex-start;
        overflow-x: scroll;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            text-align: center;
            // height: 5vh;
            // margin: 0 5px;



        }

    }
}

@media (max-width: 640px) {
    .navbarContainer {
        width: 35%;


    }
}